body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/originals/6a/3d/c9/6a3dc9359743ddd0a69299b5efb76051.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="time"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Style for Park Ease text with gradient color */
.park-ease {
    font-size: 10vmax;
    line-height: 1;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 20px;
    background-image: linear-gradient(135deg, #8ac4f6, #ff74bae1, #a97ffd);
    -webkit-background-clip: text;
    color: transparent;
}